<%= provide(:html_title, "プライバシーポリシー") %>

<h1>プライバシーポリシー</h1>
<h2>個人情報</h2>
<h3>取り扱う個人情報</h3>
<p>当サービスでは登録時にTwitterに登録されたメールアドレスを取得します。 メールアドレスは個人情報にあたる場合があるため、当サービスではすべて個人情報として扱います。 その他の個人情報については基本的な使用方法では取得することはありませんが、 ユーザーから個人情報を取得する場合、必要となる最小限を取得し、その扱いには最大限の注意を払います。</p>


<h1>HogeHoge</h1>
<h2>FugaFuga</h2>
<h3>PiyoPiyo</h3>
<p>ほげほげ。ほげほげ。ふがふがふがふが。ぴよ。</p>
