<% condition = target_action.include?(controller.action_name) %>
<li class="side-menu-item <% if condition %>selected<% end %>">
    <% if condition %>
        <%= text %>
    <% else %>
        <%= link_to(text, :action => action ) %>
    <% end %>
</li>
