<% provide(:html_title, "パスワード再設定メールの送信") %>
<div class="row">
  <div class="col-12 col-md-7 offset-md-1 form-area">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'form-horizontal'}, :builder => FormHelper::FormWithErrorMessageBuilder) do |f| %>
      <fieldset>
        <div class="col-md-12">
          <span class="header-text">
            パスワードリセット
          </span>

          <div class="form-group">
            <label for="user_email" class="control-label">メールアドレス</label>
            <%= f.email_field :email, id: :user_email, class: 'form-control', placeholder: '再設定用メールの送信先を入力してください' %>
          </div>
          <%= f.submit 'メールを送信', class: 'btn btn-primary btn-block' %>
        </div>
      </fieldset>

    <% end %>
  </div>
  <div class="col-12 col-sm-5 col-md-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
