<div class="jumbotron special">
  <div class="honoka"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 outline">
        <h1>個人開発ゲーム 実況可否リスト</h1>
        <p>個人開発スマホアプリの実況OK/NGを集めました。</p>
      </div>
    </div>
  </div>
</div>

<aside class="social">
  <div class="social-button">
    <ul>
      <li><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.82c7dfc5ca6196724781971f8af5eca4.ja.html#dnt=true&amp;id=twitter-widget-0&amp;lang=ja&amp;original_referer=https%3A%2F%2Frinhoshizo.la%2F&amp;size=m&amp;text=Rin%20-%20%E6%97%A5%E6%9C%AC%E8%AA%9E%E3%82%82%E7%BE%8E%E3%81%97%E3%81%8F%E8%A1%A8%E7%A4%BA%E3%81%A7%E3%81%8D%E3%82%8BBootstrap%E3%83%86%E3%83%BC%E3%83%9E&amp;time=1508687195677&amp;type=share&amp;url=https%3A%2F%2Frinhoshizo.la%2F" style="position: static; visibility: visible; width: 75px; height: 20px;"></iframe></li>
      <li><div class="fb-like fb_iframe_widget" data-href="http://rinhoshizo.la/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=238369762859730&amp;container_width=0&amp;href=http%3A%2F%2Frinhoshizo.la%2F&amp;layout=button_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=false&amp;show_faces=false"><span style="vertical-align: bottom; width: 83px; height: 20px;"><iframe name="f3c27e95059d578" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.3/plugins/like.php?action=like&amp;app_id=238369762859730&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FhsBwMj6iLmk.js%3Fversion%3D42%23cb%3Df1b0b3bf8d27f3c%26domain%3Drinhoshizo.la%26origin%3Dhttps%253A%252F%252Frinhoshizo.la%252Ff2abb5980e231f8%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Frinhoshizo.la%2F&amp;layout=button_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=false&amp;show_faces=false" style="border: none; visibility: visible; width: 83px; height: 20px;" class=""></iframe></span></div></li>
      <li><iframe class="hatena-bookmark-button-frame" title="このエントリーをはてなブックマークに追加" frameborder="0" scrolling="no" width="115" height="20" src="javascript:false" style="width: 115px; height: 20px;"></iframe></li>
    </ul>
  </div>
</aside>

<section class="section section-default point">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 subtitle">
        <h2>Rinは Honoka をもとにしたBootstrapテーマです</h2>
        <p>RinやHonokaは以下の特徴を持っています。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 point-box">
        <div class="point-circle start">
          <i class="fa fa-check"></i>
        </div>
        <div class="point-description">
          <h4>Easy to Start</h4>
          <p>RinはBootstrapを元に製作されているため、非常に高い互換性を持っています。マークアップに関する規約はほとんど変わりません。</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 point-box">
        <div class="point-circle replace">
          <i class="fa fa-refresh"></i>
        </div>
        <div class="point-description">
          <h4>Replace Bootstrap</h4>
          <p>既にBootstrapを使って作成したウェブサイトがある場合は、CSSを置き換えるだけで簡単にRinを利用できます。</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 point-box">
        <div class="point-circle compass">
          <i class="fa fa-github-alt"></i>
        </div>
        <div class="point-description">
          <h4>Open Source</h4>
          <p>作成に使用したSASSファイルは全て公開されています。変数の定義ファイルを変更することで自分好みの設定に変更することも可能です。</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 point-box">
        <div class="point-circle japanese">
          <span class="icon-jp"></span>
        </div>
        <div class="point-description">
          <h4>Optimized Japanese</h4>
          <p>本家Bootstrapでは指定されていない日本語フォントに関する指定が行われているため、美しく日本語を表示できます。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-inverse japanese-font">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 subtitle">
        <h2>RinやHonokaは日本語を美しく表示します</h2>
        <p>本家Bootstrapでは指定されていない日本語のフォント指定を行っているので、日本語も美しく表示されます。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well bootstrap-default text-justify">
          <h3>従来の日本語表示</h3>
          <p>
            秋葉原と神田と神保町という3つの街のはざまにある伝統校、音ノ木坂学院は統廃合の危機に瀕していた。
            学校の危機に、2年生の高坂穂乃果を中心とした9人の女子生徒が立ち上がる。
            私たちの大好きな学校を守るために、私たちができること……。それは、アイドルになること！ アイドルになって学校を世に広く宣伝し、入学者を増やそう！
            ここから、彼女たちの「みんなで叶える物語」（スクールアイドルプロジェクト）が始まった！
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well text-justify">
          <h3>Rinの日本語表示</h3>
          <p>
            秋葉原と神田と神保町という3つの街のはざまにある伝統校、音ノ木坂学院は統廃合の危機に瀕していた。
            学校の危機に、2年生の高坂穂乃果を中心とした9人の女子生徒が立ち上がる。
            私たちの大好きな学校を守るために、私たちができること……。それは、アイドルになること！ アイドルになって学校を世に広く宣伝し、入学者を増やそう！
            ここから、彼女たちの「みんなで叶える物語」（スクールアイドルプロジェクト）が始まった！
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-default getting-started">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 subtitle">
        <h2>さあ、はじめましょう。</h2>
        <p>導入はとっても簡単です</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-group">
          <a href="//github.com/raryosu/Rin/releases" class="btn btn-primary btn-lg"><i class="fa fa-github-alt"></i> Download from GitHub</a>
          <p class="help-block">Last version v<span class="last-version">3.3.7-2</span> ・ <a href="//github.com/raryosu/Rin/blob/master/LICENSE">MIT License</a></p>
        </div>
        <p>使い方やファイルの説明など、詳しくは <a href="//github.com/raryosu/Rin#readme">README</a> または <a href="//github.com/windyakin/Honoka/wiki">Wiki</a> をご確認ください</p>
      </div>
    </div>
  </div>
</section>


<footer class="small">
  <div class="social-button">
    <ul>
      <li><iframe src="https://ghbtns.com/github-btn.html?user=raryosu&amp;repo=Rin&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe></li>
      <li><iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.82c7dfc5ca6196724781971f8af5eca4.ja.html#dnt=true&amp;id=twitter-widget-1&amp;lang=ja&amp;original_referer=https%3A%2F%2Frinhoshizo.la%2F&amp;size=m&amp;text=Rin%20-%20%E6%97%A5%E6%9C%AC%E8%AA%9E%E3%82%82%E7%BE%8E%E3%81%97%E3%81%8F%E8%A1%A8%E7%A4%BA%E3%81%A7%E3%81%8D%E3%82%8BBootstrap%E3%83%86%E3%83%BC%E3%83%9E&amp;time=1508687293192&amp;type=share&amp;url=https%3A%2F%2Frinhoshizo.la%2F" style="position: static; visibility: visible; width: 75px; height: 20px;"></iframe></li>
      <li><div class="fb-like fb_iframe_widget" data-href="http://rinhoshizo.la/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=238369762859730&amp;container_width=0&amp;href=http%3A%2F%2Frinhoshizo.la%2F&amp;layout=button_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=false&amp;show_faces=false"><span style="vertical-align: bottom; width: 83px; height: 20px;"><iframe name="f12287a340d366" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.3/plugins/like.php?action=like&amp;app_id=238369762859730&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FhsBwMj6iLmk.js%3Fversion%3D42%23cb%3Df1f83605cf8bc5%26domain%3Drinhoshizo.la%26origin%3Dhttps%253A%252F%252Frinhoshizo.la%252Ff104399731d48a%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Frinhoshizo.la%2F&amp;layout=button_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=false&amp;show_faces=false" style="border: none; visibility: visible; width: 83px; height: 20px;" class=""></iframe></span></div></li>
      <li><iframe class="hatena-bookmark-button-frame" title="このエントリーをはてなブックマークに追加" frameborder="0" scrolling="no" width="115" height="20" src="javascript:false" style="width: 115px; height: 20px;"></iframe></li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center copyright">
        © 2016 Rin / 2016 Hagihara Ryosuke
      </div>
    </div>
  </div>
</footer>


<div id="hello">
  <hoge></hoge>
</div>

<%= javascript_pack_tag 'hello_vue' %>

