.ellipsisable-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.foldable-text
{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.hidden-element {
    display: none;
}

.google-play-badge {
    width: 180px;
    display:inline-block;
}

.apple-store-badge {
    width: 130px;
    // google playのBadgeに画像サイズ合わせるために設定
    margin: 12px;
    display:inline-block;
}
