@import "vars.scss";

body {
  background-color: #F1F4FA;
}

.ellipsisable-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.foldable-text
{
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.hidden-element {
  display: none!important;
}

.google-play-badge {
  width: 180px;
  display:inline-block;
}

.apple-store-badge {
  width: 130px;
  // google playのBadgeに画像サイズ合わせるために設定
  margin: 12px;
  display:inline-block;
}

.header-text {
  font-weight: bold;
  margin-bottom: $form-group-margin-bottom;
  font-size: $heading-font-size;
  border-bottom: 1px solid $subline-color;
  display: block;
}

.form-area {
  background-color: $panel-color;
  margin-bottom: 22px;
  padding: 18px;
  border: 1px solid $panel-border-color;
}

.subtext {
  color: $helptext-color;
  font-size: 0.85em;
  margin-top: -6px;
}

[tooltip] {
  position: relative;
  &:after {
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(tooltip);
    padding: 2px 7px;
    top: $text-size * 1.2;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    border-radius: 6px;
    color: white;
    white-space: nowrap;
    z-index: 2;
  }
  &:hover {
    &:after {
      display: block;
      opacity: 0.7;
      visibility: visible;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.alert-area {
  padding-top: 54px;
  margin-bottom: -54px;
}

.main-content {
  margin-top: 78px;
}

.footer {
  font-size: 0.75em;
  padding: 30px 0;
  color: $white;
  background-color: $dark;
  .copyright {
    padding: 10px 0;
  }
}

@mixin social-button($bg-color) {
  @include button-variant($bg-color, $bg-color);
  color: $white;
  margin: 4px;
}

.btn-twitter {
  @include social-button(#55acee);
}

.btn-facebook {
  @include social-button(#3b5998);
}

.btn-hatena-bookmark {
  @include social-button(#178fde);
  margin-left: -2px;
}

.fa.fa-hatena-bookmark::before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold;
}
