@import "break-point";

.body-container { padding-top: 22px; }

.bg-info2 {
    background-color: #ebf5fc !important;
}

.bg-danger2 {
    background-color: #fad1e4 !important;
}

section.section-share{
    padding: 10px 0;
}

@include xs-screen-media {
    .navbar .navbar-brand {
        font-size: 18px;
    }
}

.nav-user-proflie {
    @include xs-screen-media {
        width: 100%;
    }
    @include sm-screen-media {
        width: 100%;
    }
    @include md-screen-media {
        width: 180px;
    }
    @include lg-screen-media {
        width: 180px;
    }
    @include xl-screen-media {
        width: 180px;
    }
}
