// This css is the purpose of overriding bootstrap css.

.bg-info2 {
    background-color: #ebf5fc !important;
}

.bg-danger2 {
    background-color: #fad1e4 !important;
}

section.section-share{
    padding: 10px 0;
}

@include media-breakpoint-only(xs) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}

.nav-user-proflie {
  @include media-breakpoint-down(sm) {
    display: none!important;
  }
  @include media-breakpoint-up(md) {
    max-width: 180px;
  }
}

.mobile-nav-user-profile {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    display: none!important;
  }
}
