.flex {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;

  &:hover{
    img {
      opacity:0.28;
    }
  }

  .item {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw;

    img {
      width: 100%;
      height: auto;
      transition:all .8s;
    }

    &:hover{
      img{
        opacity:1;
      }
    }
  }


}

@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }

}