nav.sidebar {
  position: fixed;
  top: $navbar-brand-height;
  z-index: 1;
  left: 0;
  @include media-breakpoint-up(md) {
    bottom: 0;
    overflow-y: auto;
    padding-top: 24px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 32px;
    background-color: $panel-color;
    border-bottom: 1px solid #CDD0D6;
  }
}

nav.sidebar {
  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.search-result-area {
  background-color: white;
  @include media-breakpoint-up(md) {
    padding: 24px 32px;
    margin-top: -24px;
    border-left: 1px solid $panel-border-color;
  }
  @include media-breakpoint-down(sm) {
    padding: 112px 32px 32px 24px;
  }
}

.boxed,pre {
  background-color: #fff;
  margin: 0px -8px 36px -8px;
}

.boxed-content {
    position: relative;
}

.boxed-icon-area {
    display: inline-block;
}

.boxed-body {
    padding: 0px 8px 0px 4px;
 }

.boxed a {
    display: block;
    position: absolute;
    padding-left: -15px;
    padding-right: -15px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.game-icon-image {
    width: 100%;
    height: auto;
    max-height: 700px;
}

.front-page-title {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
    color: #606060;
}
