@import "vars.scss";

@mixin text-prefix-icon {
    [class^="icon"]{
        margin-right: $text-size / 4;
    }
}

.search-area {
  @include media-breakpoint-up(md){
    padding: $text-size / 2;
  }
  @include media-breakpoint-up(xs){
    padding: $text-size / 2 0px;
  }
}

.condition-area {
    @include media-breakpoint-down(sm) {
       display: none;
    }
}

.condition-filter-area {
    @include media-breakpoint-up(md) {
       display: none;
    }
}

.search-condition-title[aria-expanded=false] .fa-caret-down {
    display:none;
}

.search-condition-title[aria-expanded=true] .fa-caret-right {
    display:none;
}

.box-joint {
    margin-bottom: -1px;
}

.condition-box {
  font-size: $text-size;
  border-radius: 0;
}

.condition-item {
    position: relative;
    display: block;
    padding: 2px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    border-width: 0 0 1px 0;
    @include text-prefix-icon;
    label {
        padding-left: $text-size / 2;
        font-weight: 100;
        font-size: 0.8em;
    }
    input {
        margin-left: $text-size;
    }
}

input[type=checkbox]:checked ~ div.condition-area {
    display: block;
}

.filter-btn {
    margin-bottom: $text-size;
    @include text-prefix-icon;
}

input[type=checkbox]:checked ~ .filter-btn {
    display: block;
    margin-bottom: 0px;
}
