$text-size: 18px;
$subtext-color: #969696;
$helptext-color: #767676;
$subline-color: #d5d5d5;
$margin-title-category: -14px;
$margin-area: 28px;
$heading-font-size: 24px;

$panel-color: #FCFCFC;
$panel-border-color: #CDD0D6;

$developer-color: #6998D6;
$streamer-color: #EC7A66;
$merit-color: #86D47E;
