$xs-screen: "(max-width: 575px)";
$sm-screen: "(min-width:576px) and (max-width: 767px)";
$md-screen: "(min-width: 768px) and (max-width: 991px)";
$lg-screen: "(min-width: 992px) and (max-width: 1199px)";
$xl-screen: "(min-width: 1200px)";

$text-size: 18px;
$subtext-color: #969696;
$subline-color: #d5d5d5;
$margin-title-category: -14px;
$margin-area: 28px;
$heading-font-size: 24px;

$panel-color: #FCFCFC;
