<p><%= t('.welcome_message', :email => @resource.email) %></p>

<p><%= t('.description') %></p>

<p><%= link_to t('.confirm_link_text'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.please_ignore_message') %></p>
