<footer class="small">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center copyright">
        © 2017 naichilab. © 2017 merkmal_dev.
      </div>
    </div>
  </div>
</footer>