<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center copyright">
        © 2017 <%= link_to 'naichilab', 'https://twitter.com/naichilab', target: '_blank' %>.
        © 2017 <%= link_to 'merkmal_dev', 'https://twitter.com/merkmal_dev', target: '_blank' %>.
      </div>
    </div>
  </div>
</div>
